@import '../../sass/variables';

.notification {
  width: auto;
  height: auto;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 15px;

  .icon {
    float: left;
    margin-right: 15px;
    font-size: 18px;
  }

  .content {
    text-align: center;
  }

  &.error {
    background-color: $primary-red;
    color: $white;
  }

  &.info {
    background-color: $secondary;
    color: $white;
  }

  &.success {
    background-color: $primary-green;
    color: $white;
  }

  &.warning {
    background-color: $primary-yellow;
    color: $text-gray-01;
  }

}
