@import './variables';

@font-face {
  font-family: 'nunitobold';
  src: url('../assets/fonts/Nunito/nunito-bold-webfont.woff2') format('woff2'),
  url('../assets/fonts/Nunito/nunito-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'Nunito';
  src: url('../assets/fonts/Nunito/nunito-regular-webfont.woff2') format('woff2'),
  url('../assets/fonts/Nunito/nunito-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: $font;
  &:focus {
    outline: none;
  }
}

.m-top {
  margin-top: 15px;
}

.m-bottom {
  margin-bottom: 15px;
}

.m-right {
  margin-right: 15px;
}

.m-left {
  margin-left: 15px;
}

.pull-right{
  float: right;
}

body {
  font-size: 16px;
  color: $text-gray-01;
  line-height: 1.38;
}

