$primary-gray-hover: #363636;

$primary-yellow: #FFD200;
$primary-yellow-hover: #FFB500;

$primary-red: #FA5E5B;
$primary-red-hover: #D14D4A;

$primary-green: #16C98D;


$white: white;
$black: #333;
$secondary: #00448D;
$secondary-focus: #E6E7E8;

$font: 'Nunito';

/*FONTS*/
$text-gray-01: #454648;
$text-gray-02: #808285;
$text-gray-03: #D1D3D4;

/*BACKGROUND*/
$background-gray-01: #58595B;
$background-gray-02: #6D6E71;
$background-gray-03: #D1D3D4;
$background-gray-04: #E6E7E8;
$background-gray-05: #F7F7F7;


