@import '../../sass/variables';

.text-field {
  margin-bottom: 10px;

  &.disabled {
    opacity: .3;
    .content, label, input, span {
      cursor: not-allowed !important;
    }
  }

  &.error {
    p, span,
    .icon,
    input:focus + span {
      color: $primary-red !important;
    }
    input {
      border-bottom: 2px solid $primary-red !important;
    }
  }

  .content {
    width: 100%;
    color: $text-gray-01;
    background-color: $background-gray-05;
    border-radius: 6px 6px 0 0;

    label {
      position: relative;
      display: block;
      width: 100%;
      min-height: 50px;
    }

    select {
      position: absolute;
      top: 15px;
      z-index: 2;
      width: 100%;
      font-size: 16px;
      border: 0;
      border-bottom: 1px solid #808285;
      transition: border-color 200ms ease-in-out;
      outline: none;
      height: 35px;
      background-color: transparent;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      padding-left: 15px;
      -moz-appearance: none;
      -webkit-appearance: none;
      appearance: none;

      &:focus {
        border-bottom: 2px solid $primary-yellow;
      }

      &:focus + span, &:valid + span {
        top: 6px;
        cursor: inherit;
        font-size: 13px;
        color: $text-gray-02;
        padding-left: 15px;
      }

    }

    .status {
      border-bottom: 2px solid $secondary;
    }

    span {
      position: absolute;
      display: block;
      top: 20px;
      z-index: 1;
      font-size: 16px;
      transition: all 200ms ease-in-out;
      width: 100%;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      padding-left: 15px;
    }

    .icon {
      font-size: 18px;
      position: absolute;
      z-index: 3;
      right: 15px;
      top: 15px;
    }
  }

  .message {
    min-height: 20px;
    p {
      padding: 4px 0 0 15px;
      font-size: 12px;
      color: $text-gray-02;
      margin: 0;
    }
  }
}
