<div class="text-field {{ state }}">
  <div class="content">
    <label>
      <select class="{{ emptySelect }}" [(ngModel)]="valueSelect" name="select" required
              (change)="validateField()" [disabled]="(state == 'disabled')">

        <ng-content></ng-content>
      </select>
      <span>Seleccione</span>
      <div class="icon">
        <i class="{{ icon }}"></i>
      </div>
    </label>
  </div>
  <div class="message">
    <p>{{ message }}</p>
  </div>
</div>
