<div class="m-bottom">Textos genéricos</div>
<app-title>Título de la aplicación</app-title>
<app-subtitle>Subtítulo de la aplicación</app-subtitle>

<div class="m-bottom">Botones primarios</div>
<app-button type="primary-gray" label="Atrás" class="m-right"></app-button>
<app-button type="primary-red" label="Eliminar" class="m-right"></app-button>
<app-button type="primary-yellow" label="Transferir" class="m-right"></app-button>
<app-button type="secondary" label="Cancelar" class="m-right"></app-button>
<app-button type="flat" label="Aceptar" class="m-right"></app-button>

<div class="m-top m-bottom">Notificaciones</div>
<app-notification type="error" icon="far fa-times-circle" message="Error"></app-notification>
<app-notification type="info" icon="fas fa-info-circle" message="Info"></app-notification>
<app-notification type="success" icon="far fa-check-circle" message="Success"></app-notification>
<app-notification type="warning" icon="fas fa-exclamation-triangle" message="Warning"></app-notification>


<div class="m-top m-bottom">Banner</div>
<app-banner>
  <app-subtitle>¡Tienes un extrafinanciamiento aprobado!</app-subtitle>
  <p>Tienes $5'000.00 de extrafinanciamiento para tu uso. Disfruta de este beneficio exclusivo para ti.</p>
  <app-button type="flat" label="Lo quiero" class="pull-right"></app-button>
  <app-button type="flat" label="Ver más tarde" class="m-right pull-right"></app-button>
</app-banner>

<div class="m-top m-bottom">Listas seleccionables</div>
<app-select label="Monto" type="number" icon="fas fa-angle-down">
  <option value="1">Opción 1</option>
  <option value="2">Opción 2</option>
  <option value="3">Opción 3</option>
</app-select>

<div class="m-top m-bottom">Campos de texto</div>
<app-textfield label="Nombre" type="text" icon="fas fa-info-circle" state="disabled"></app-textfield>
<app-textfield label="Apellido" type="text" icon="fas fa-info-circle" state="error" message="Campo requerido"></app-textfield>
<app-textfield label="Monto" type="text"></app-textfield>

