@import '../../../sass/variables';

.btn {
  width: 144px;
  height: 40px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: bold;
  border: 0;
  text-transform: uppercase;

  &.primary-gray {
    background-color: $background-gray-01;
    color: white;
    &:hover {
      background-color: $primary-gray-hover;
    }
    &:focus {
      background-color: $background-gray-01;
    }
  }

  &.primary-yellow {
    background-color: $primary-yellow;
    color: $text-gray-01;
    &:hover {
      background-color: $primary-yellow-hover;
    }
    &:focus {
      background-color: $primary-yellow;
    }
  }

  &.primary-red {
    background-color: $primary-red;
    color: white;
    &:hover {
      background-color: $primary-red-hover;
    }
    &:focus {
      background-color: $primary-red;
    }
  }

  &.white {
    background-color: white;
    color: $text-gray-01;
    &:hover {
      background-color: transparent;
      border: 1px solid white;
    }
    &:focus {
      background-color: white;
      color: $text-gray-01;
    }
  }

  &.secondary {
    border: 1px solid $secondary;
    background-color: white;
    color: $secondary;
    &:hover {
      border-width: 2px;
    }
    &:focus {
      background-color: $secondary-focus;
    }
  }

  &.flat {
    border-radius: 0;
    background-color: transparent;
    color: $black;
    &:hover {
      color: $primary-yellow;
    }
    &:focus {
      color: $background-gray-01;
    }
  }
}
