<div class="text-field {{ state }}">
  <div class="content">
    <label>
      <input type="{{ type }}" class="{{ emptyInput }}" [(ngModel)]="valueInput" name="text-field" required
             (change)="validateField()" [disabled]="(state == 'disabled')">
      <span>{{ label }}</span>
      <div class="icon">
        <i class="{{ icon }}"></i>
      </div>
    </label>
  </div>
  <div class="message">
    <p>{{ message }}</p>
  </div>
</div>




