@import '../../../sass/variables';

.banner {
  width: auto;
  height: auto;
  border-radius: 6px;
  background-color: $white;
  border: solid 1.5px $primary-yellow;
  padding: 15px;
  overflow: hidden;
}
